<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   
</head>

<body>
  This is the base page
  <a href="C:\Users\Akshaya sundar\Desktop\Sprint 1\Sprint%201\templates\contacts.html"></a>
  <a href="C:\Users\Akshaya sundar\Desktop\Sprint 1\Sprint%201\templates\features.html"></a>
  <a href="C:\Users\Akshaya sundar\Desktop\Sprint 1\Sprint%201\templates\forgotten-password.html"></a>
  <a href="C:\Users\Akshaya sundar\Desktop\Sprint 1\Sprint%201\templates\index.html"></a>
  <a href="C:\Users\Akshaya sundar\Desktop\Sprint 1\Sprint%201\templates\integrations.html"></a>
  <a href="C:\Users\Akshaya sundar\Desktop\Sprint 1\Sprint%201\templates\login.html"></a>
  <a href="C:\Users\Akshaya sundar\Desktop\Sprint 1\Sprint%201\templates\signup.html"></a>
</body>

</html>